/* Variables */
:root {
	/* Colors */
	--color-black: #000;
	--color-dark-gray: #131313;
	--color-gray: #555555;
	--color-light-gray: #cccccc;
	--color-whisper: #E7E7E7;
	--color-turquoise: #219DA9;
	--color-red: #D81D3F;
	--color-blue: #203147;
	--color-white: #fff;
	--color-arc-gradient: linear-gradient(90deg,rgba(33,157,169,1) 40%,rgb(32,49,71,1) 100%);
	--setting-silo-max-width: 1400px;
	--font-size-small: 14px;
	--font-size-body: 20px;
	--font-size-large: 24px;
	--font-size-larger: 28px;
	--font-size-huge: 32px;
	--font-size-jumbo: 56px;
	--font-size-super-jumbo: 72px;
}
body {
	color: var(--color-dark-gray);
	font-family: "Roboto", sans-serif;
	font-size: var(--font-size-body);
	font-weight: 400;
}
.silo, .wp-block-columns {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--setting-silo-max-width);
	padding-left: var(--font-size-body);
	padding-right: var(--font-size-body);
}
.site-header {
	background-image: var(--color-arc-gradient);
	padding: 20px 0 20px 0;
}
.site-header .silo {
	align-items: center;
	display: flex;
}
.site-header img {
	display: block;
	height: auto;
	max-width: 180px;
	width: 180px;
}
.site-header ul {
	display: flex;
	margin: 2px 0 0 3em;
}
.site-header li {
	padding-right: 1.2em;
}
.site-header li a {
	border-bottom: solid 2px transparent;
	color: var(--color-white);
	font-weight: 400;
}
.site-header li a:hover,
.site-header .current-menu-item a,
.arc_projects-template-default .menu-item-object-arc_projects a {
	border-bottom: solid 2px var(--color-white);
}
#colophon {
	background-color: var(--color-blue);
	color: var(--color-white);
	font-size: var(--font-size-small);
	padding-bottom: 2em;
	padding-top: 4em;
}
#colophon .silo {
	display: flex;
	justify-content: space-between;
}
.site-footer > div:first-child {
	border-top: solid 1px var(--color-white);
	padding-top: 4em;
}
.home .site-footer > div:first-child {
	border-top: 0;
	padding-top: 2em;
}
#colophon .site-info img {
	margin-bottom: 1em;
	width: 220px
}
#colophon .follow img {
	height: 32px;
	margin-left: 2em;
}
#fineprint {
	display: flex;
	margin-top: 3em;
}
#fineprint.silo {
	justify-content: flex-start;
}
#fineprint ul {
	margin-left: 1em;
	padding-left: 0;
}
#fineprint li {
	display: inline;
	list-style-type: none;
	margin-right: .5em;
}
#fineprint li a {
	border-bottom: dotted 1px var(--color-gray);
	color: var(--color-light-gray);
	text-decoration: none;
}
.stage {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	padding-left: var(--font-size-body);
	padding-right: var(--font-size-body);
}
.stage .widget-area {
	flex: 1 1 25%;
	min-width: 350px;
}
.stage .site-main {
	flex: 1 1 75%;
	padding-left: 4em;
	padding-right: 4em;
}
.stage .site-main article {
	border-bottom: dotted 1px var(--color-light-gray);
	display: flex;
	margin: 0 0 2em 0;
	padding-bottom: 2em;
}
.site-main article .thumbnail {
	flex: 1 0 340px;
	margin-right: 1em;
}
.site-main article h2,
.site-main article .excerpt p {
	margin: 0;
}
.site-main article h2 {
	line-height: 1.2em;
}
.site-main article h2 a {
	color: var(--color-black);
	text-decoration: none;
}
.site-main article .excerpt {
	color: var(--color-gray);
}
.entry-meta .project-date {
	color: var(--color-black);
	font-weight: 900;
}
.entry-meta .project-client {
	color: var(--color-gray);
}
#secondary h2 {
	font-size: var(--font-size-body);
}
#secondary a {
	border-bottom: dotted 1px var(--color-whisper);
	color: var(--color-gray);
	text-decoration: none;
}
#secondary a:hover {
	border-bottom: solid 1px var(--color-gray);
	color: var(--color-gray);
}
#secondary ul, #secondary ol {
	margin-left: 0;
	padding-left: 0;
}
#secondary li {
	font-size: var(--font-size-small);
	list-style-type: none;
	margin: .5em 0 .5em 0;
}
.single > article {
	margin-left: 4em;
	margin-right: 4em;
}
.single h1 {
	font-size: var(--font-size-jumbo);
	line-height: 1.1em;
	margin-bottom: 0;
}
#comments,
.single .entry-header,
.single .entry-footer,
.single .entry-content h1,
.single .entry-content h2,
.single .entry-content h3,
.single .entry-content h4,
.single .entry-content h5,
.single .entry-content h6,
.single .entry-content p,
.single .project .entry-meta,
.single .project .pdf {
	margin-left: auto;
	margin-right: auto;
	max-width: 760px;
}
.single .entry-content figure img {
	display: block;
	margin: auto;
}
.single .project .entry-meta {
	font-size: var(--font-size-huge);
	padding: 1em 0 1em 0;
}
.project .entry-content > h4 {
	margin-top: 0;
}
#comments article,
.comment-list {
	margin-bottom: 2em;
	margin-left: 0;
	padding-left: 0;
}
.comment-list li {
	list-style-type: none;
}
.comment-meta {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.comment-meta .says {
	margin-left: .25em;
}
.comment-author {
	align-items: center;
	display: flex;
}
.comment-author img {
	border-radius: 100%;
	margin-right: .5em;
}
.comment-metadata {
	font-size: var(--font-size-small);
}
#secondary .current-menu-item {
	color: var(--color-turquoise);
	font-weight: 900;
}
.entry-header .pdf, .single .project .pdf {
	background-image: url(../media/icon-pdf.svg);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 36px;
	margin: 1em auto 1em auto;
	padding-left: 2em;
}
.single .project .pdf  {
	margin-bottom: 2em;
}
.posted-on {
	font-weight: 900;
}
.posted-in a,
.pagination a,
.entry-header .pdf a,
.single .project .pdf a,
.entry-header .jump a  {
	border-bottom: dotted 1px var(--color-light-gray);
	color: var(--color-black);
	text-decoration: none;
}
.posted-in a:hover,
.pagination a:hover,
.entry-header .pdf a:hover,
.single .project .pdf a:hover,
.entry-header .jump a:hover {
	border-bottom: solid 1px var(--color-black);
}
.jump {
	margin: 1em 0 1em 0;
}
.pagination {
	font-size: larger;
	margin-bottom: 4em;
}
.pagination a {
	padding: .5em;
}
.pagination .current {
	background-color: var(--color-black);
	color: var(--color-white);
	font-weight: 900;
	padding: .5em;
}
.edit-link {
	display: block;
	margin: 2em 0 2em 0;
}